@media screen and (max-width: 1399px) {
    .dashb-card-wapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .over-view {
        grid-column: 1/5;
    }
    .dashb-card {
        align-items: start;
    }
}

@media screen and (max-width: 992px) {
    .responsive-view {
        display: unset;
    }
    .dashb-card-wapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .over-view {
        grid-column: 1/5;
    }
    .layout .header {
        padding: 20px;
    }
    .layout .sidebar .menu ul li.menu-item a.active::after {
        filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(88%) contrast(84%);
    }
}

@media (max-width: 992px) {
    #btn-collapse {
        display: none;
    }
    .custom-formContainer .formContent .row {
        gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .dashb-card-wapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .over-view {
        grid-template-columns: repeat(1, 1fr);
    }
    .layout .content,
    main.content {
        padding: 20px;
        padding-top: 40px;
    }
}